<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil Usuario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Perfil.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header class="d-flex align-items-center p-3 border-bottom w-100">
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
  <i class="bi bi-list"></i>
</button>
<h2 class="titulo-header mx-4 mb-0">| COLEGIO FE Y ALEGRIA</h2>
<div class="dropdown">
    
  <button 
    class="btn btn-edunotas position-relative dropdown-toggle" 
    type="button" 
    id="dropdownMenuButton" 
    data-bs-toggle="dropdown" 
    aria-expanded="false">
    <span class="bi bi-envelope-fill"></span>
  </button>
  
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Ajustes</a></li>
    <li><a class="dropdown-item" href="#">Opción 2</a></li>
    <li><a class="dropdown-item" href="#">Opción 3</a></li>
  </ul>
</div>

<!--Botón menu de usuario-->

<div class="dropdown">
  <button 
    class="btn btn-usuario dropdown-toggle" 
    type="button" 
    id="dropdownMenuButton" 
    data-bs-toggle="dropdown" 
    aria-expanded="false">
    <span class="bi bi-person-lines-fill"><div class="user-info"><span>{{ usuario.Nombre }} {{ usuario.Apellido }}</span>
    </div></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="{{url_for('perfil')}}">Perfil</a></li>
    <li><a class="dropdown-item" href="#">Observador</a></li>
    <li><a class="dropdown-item" href="{{url_for('login')}}">Cerrar sesión</a></li>
  </ul>
</div>

</a>
  </header>

<div class="offcanvas offcanvas-start text-white" tabindex="-1" id="sidebar">
 <div class="offcanvas-header">
  <h5 class="offcanvas-title">MENÚ</h5>
</div>
<div class="offcanvas-body">
  <ul class="nav flex-column">
  <li class="nav-item"><a href="{{ url_for('paginainicio') }}" class="nav-link text-white">Inicio</a></li>
  <a class="nav-link text-white" data-bs-toggle="collapse" href="#submenuNotas">
    Notas <i class="bi bi-caret-down-fill"></i>
  </a>

  <div class="collapse" id="submenuNotas">
    <ul class="nav flex-column ms-3">
     <li class="nav-item"><a href="{{ url_for('notas') }}" class="nav-link text-white">Consultar Notas</a></li>
    </ul>
  </div>
  <li class="nav-item"><a href="{{ url_for('observador') }}" class="nav-link text-white">Observador</a></li>
  <li class="nav-item"><a href="{{ url_for('profesores') }}" class="nav-link text-white">Profesores</a></li>
  <li class="nav-item"><a href="{{ url_for('manual') }}" class="nav-link text-white">Manual del Usuario</a></li>
 </ul>
 </div>
 </div>
</div>

<!-- Contenedor del perfil -->
  <section class="perfil-container">
    <div class="perfil-header">
      <i class="fa-solid fa-user perfil-icon"></i>
    </div>
    <div class="perfil-info">
      <h2>Perfil de Usuario ({{ usuario.Rol }})</h2>
      <p><strong>Nombre completo:</strong> {{ usuario.Nombre }} {{ usuario.Apellido }}</p>
      <p><strong>Tipo de documento:</strong> {{ usuario.TipoDocumento }}</p>
      <p><strong>Número de documento:</strong> {{ usuario.NumeroDocumento }}</p>
      <p><strong>Número de contacto / Teléfono:</strong> {{ usuario.Telefono }}</p>
      <p><strong>Correo electrónico:</strong> {{ usuario.Correo }}</p>
      <p><strong>Dirección de residencia:</strong> {{ usuario.Direccion }}</p>
      <p><strong>Género:</strong> {{ usuario.Genero }}</p>
      <p><strong>Estado:</strong> {{ usuario.Estado }}</p>
    </div>
  </section>
</body>
</html>