<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Registro.css') }}">
</head>
<body>
  <div class="form-container">
    <h2>Registro del Usuario</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form id="registroForm" method="post" action="/registro">
        <label for="nombres">Nombres</label>
        <input type="text" id="Nombre" name="nombres" placeholder="Escribe tus nombres" required>
        <span class="error" id="errorNombres"></span>

        <label for="apellidos">Apellidos</label>
        <input type="text" id="Apellido" name="apellidos" placeholder="Escribe tus apellidos" required>
        <span class="error" id="errorApellidos"></span>

        <label for="correoPersonal">Correo Personal</label>
        <input type="email" id="Correo" name="correoPersonal" placeholder="@gmail.com" required>
        <span class="error" id="errorCorreoPersonal"></span>

        <label for="contrasena">Contraseña</label>
        <input type="password" id="Contrasena" name="contrasena" minlength="8" placeholder="digite la contraseña" required>
        <small>Mínimo 8 caracteres</small>
        <span class="error" id="errorContrasena"></span>

        <label for="numDoc">Número de Documento</label>
        <input type="text" id="NumeroDocumento" name="numDoc" placeholder="digite su documento" required>
        <span class="error" id="errorNumDoc"></span>

        <label for="telefono">Teléfono</label>
        <input type="tel" id="Telefono" name="telefono" placeholder="digite su numero de celular" required>
        <span class="error" id="errorTelefono"></span>

        <label>Dirección</label>
        <input type="text" name="direccion" placeholder="Digite su dirección">

        <label>Rol</label>
        <div class="radio-group">
            <label><input type="radio" name="rol" value="estudiante"> Estudiante</label>
            <label><input type="radio" name="rol" value="docente"> Docente</label>
            <label><input type="radio" name="rol" value="acudiente"> Acudiente</label>
            <label><input type="radio" name="rol" value="administrador"> Administrador</label>
        </div>
        <span class="error" id="errorRol"></span>
        
        <div class="buttons">
            <button type="submit" class="btn">Confirmar</button>
            <button type="reset" class="btn">Guardar Datos</button>
        </div>
    </form>
    <p class="nota">Se le notificará en el correo electrónico personal su confirmación de usuario</p>
  </div>
</body>
</html>