body {
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

header {
  background-color: white;
  color: #050733ff;
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: #050733ff;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: #050733ff;
  border: none;
}

.btn-edunotas {
  background-color: #050733ff;
  color: #fff;
  margin-left: 780px;
}

.btn-usuario {
  background-color: #050733ff;
  color: #fff;
  margin-left: 10px;
}

/*  menu_des  */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, #3b61ea, #fc8e75);
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #3b61ea, #fc8e75);
  border-radius: 8px;
}

.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

.nav-item {
  font-weight: bold;
  font-size: 22px;
}

#sidebar .nav-link {
  font-size: 18px;   /* tamaño menú hamburguesa */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Títulos */
.titulo-principal {
  font-size: 40px;      
  font-weight: bold;  
  margin-top: 20px;    
  color: #050733ff;      
}

.descripcion {
  font-size: 1.3rem;     
  color: #555;           
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar a:hover {
  font-weight: bold;
}

/* Capa oscura */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 900;
}